<% content_for :facebook_conversion do %>
<!-- Facebook Conversion Code for Framgia Vietnam Recruit -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6018304119112', {'value':'0.00','currency':'JPY'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6018304119112&amp;cd[value]=0.00&amp;cd[currency]=JPY&amp;noscript=1" /></noscript>
<% end %>
<div id="page-jobs-apply">
  <div class="container small">
    <hr class="margin-small-white" />
    <h3>Hoàn thành ứng tuyển</h3>
    <hr class="margin-small-white" />
    <p>Cám ơn bạn đã ứng tuyển .<br>
      Bộ phận nhận sự của chúng tôi sẽ liên lạc với bạn sau . <br>
      Xin vui lòng đợi.</p>

    <hr class="margin-middle-white" />
     <a href="http://recruit.framgia.vn/" class="btn btn-primary btn-alt btn-large">Quay về TOP</a>
  </div>
  <hr class="margin-middle-white" />
</div>
<% content_for :google_js do %>
<!-- Google Code for &#12505;&#12488;&#12490;&#12512;&#20154;&#26448;&#25505;&#29992;&#12288;&#24195;&#21578; Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 976773982;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "px6UCPKB6AoQ3sbh0QM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/976773982/?label=px6UCPKB6AoQ3sbh0QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<% end %>

