<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3>Administration Officer (Admin Tiếng Nhật)</h3>
    <h5>Mô tả công việc:</h5>
    <ul>
      <li>Xây dựng, hệ thống hóa luân chuyển và lưu trữ văn bản, công văn một cách khoa học</li>
      <li>Cập nhật, nghiên cứu, quản lý và xây dựng hệ thống thông tin, văn bản pháp lý của công ty chuẩn hóa theo quy định pháp luật hiện hành.</li>
      <li>Quản lý hoạt động mua bán, bảo vệ tài sản công ty.</li>
      <li>Quản lý văn phòng phẩm.</li>
      <li>In ấn, photo tài liệu chuẩn bị hội họp, đặt vé máy bay, khách sạn, taxi...</li>
      <li>Thực hiện các thủ tục pháp lý, thủ tục xin visa, xin giấp phép lao động, thẻ tạm trú cho người nước ngoài.</li>
      <li>Thực hiện thủ tục tham gia bảo hiểm cho nhân viên (người Việt Nam, người nước ngoài).</li>
      <li>Thực hiện các hoạt động hành chính khác của công ty do cấp trên giao.</li>
      <li>Quản lý nội dung các tin tức, công văn, thông báo từ công ty ra bên ngoài.</li>
      <li>Hỗ trợ các phòng ban khác theo yêu cầu.</li>
      <li>Chịu trách nhiệm báo cáo cho Tp Hành chính nhân sự</li>
    </ul>
    <h5>Yêu cầu công việc:</h5>
    <ul>
      <li>Tốt nghiệp đại học.</li>
      <li>Có ít nhất 01 năm kinh nghiệm ở vị trí tương đương.</li>
      <li>Sử dụng tốt tiếng Anh</li>
      <li>Biêt tiếng Nhật, tối thiểu N3.</li>
      <li>Hiểu biết công việc Hành chính</li>
      <li>Thành thạo các ứng dụng văn phòng.</li>
      <li>Năng động, trung thực, chịu khó học hỏi, chủ động trong công việc, biết tổ chức công việc hợp lý.</li>
      <li>Có khả năng chịu được áp lực cao trong công việc.</li>
      <li>Kỹ năng giao tiếp tốt, ứng xử tốt.</li>
    </ul>
    <h5>Chế độ đãi ngộ</h5>
    <ul>
      <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo luật Bảo hiểm</li>
      <li>Xét tăng lương theo năng lực và kết quả công việc: 1 lần/năm.</li>
      <li>Điều chỉnh lương theo trượt giá thị trường: 1 lần/năm.</li>
      <li>Lương tháng 13</li>
      <li>Được hưởng trợ cấp ăn trưa 840.000VND/1 tháng.</li>
      <li>Trợ cấp đi lại tối thiểu 210.000VND/1 tháng, tối đa 630.000 VND/1 tháng (tùy thuộc vào khoảng cách từ nhà đến Công ty)</li>
      <li>Trợ cấp Beauty Care 300.000VND/Tháng với nhân viên nữ ký hợp đồng chính thức</li>
      <li>Trợ cấp thai sản (Hưởng thêm 3 tháng lương của nhân viên ngoài lương do Bảo hiểm và nhà nước chi trả)</li>
      <li>Trợ cấp tiếng Nhật, tiếng Anh, và các chứng chỉ IT liên quan (hình thức: khen thưởng, tăng lương...)</li>
      <li>Hỗ trợ phí tham gia Hội thảo ngoài Công ty 100.000 VND/ ngày</li>
      <li>Được tham gia các Câu lạc bộ dưới sự tài trợ chính thức của Công ty: CLB Bóng đá, các CLB Game, CLB dạy và học </li>tiếng Nhật, tham gia các bữa tiệc, hoạt động ngoại khóa của công ty ...</li>
      <li>Du lịch hàng năm</li>
      <li>Khám sức khỏe 1 năm/1 lần</li>
    </ul>
    <h5>Lương & hợp đồng làm việc:</h5>
    <ul>
      <li>Mức lương:  $500 - $800</li>
      <li>Thử việc: 2 tháng</li>
      <li>Thời gian làm việc: Từ thứ 2 đến thứ 6</li>
    </ul>
    <!--<div class="modal-footer"><a class="btn btn-alt btn-primary" style="background-color:#999">Hiện tại không tuyển dụng.</a></div> -->
    <div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path("entry[m_job_id]" => 25) %>">Apply Now</a></div>

  </div>
</div>

