<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3>Administration Staff</h3>
    <h5>Mô tả công việc</h5>
    <ul>
      <li>Book phòng họp</li>
      <li>Sắp xếp lịch họp</li>
      <li>Mua văn phòng phẩm, vật dụng (nước, đồ uống) cho văn phòng</li>
      <li>Lưu trữ hồ sơ, đầu mối công văn, giấy tờ ra ngoài công ty, tiếp nhận hồ sơ gửi tới công ty.</li>
      <li>In ấn, photo tài liệu khi cần thiết</li>
      <li>Hỗ trợ các bạn sinh viên thực tập ngồi tại văn phòng</li>
      <li>Trực điện thoại</li>
      <li>Phối hợp quản lý tài sản</li>
      <li>Thực hiện các công việc hành chính được yêu cầu khác</li>
    </ul>
    <h5>Yêu cầu công việc</h5>
    <ul>
      <li>Tốt nghiệp đại học</li>
      <li>Không yêu cầu kinh nghiệm</li>
      <li>Cởi mở, trung thực, tận tình với công việc</li>
      <li>Có kỹ năng giao tiếp tốt, chịu được áp lực cao</li>
      <li>Sử dụng tốt tiếng Anh</li>
      <li>Lương thoả thuận</li>
    </ul>
    <h5>Chế độ đãi ngộ</h5>
    <ul>
      <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo luật Bảo hiểm</li>
      <li>Xét tăng lương theo năng lực và kết quả công việc: 1 lần/năm.</li>
      <li>Điều chỉnh lương theo trượt giá thị trường: 1 lần/năm.</li>
      <li>Lương tháng 13</li>
      <li>Được hưởng trợ cấp ăn trưa 840.000VND/1 tháng.</li>
      <li>Trợ cấp đi lại tối thiểu 210.000VND/1 tháng, tối đa 630.000 VND/1 tháng (tùy thuộc vào khoảng cách từ nhà đến Công ty)</li>
      <li>Trợ cấp Beauty Care 300.000VND/Tháng với nhân viên nữ ký hợp đồng chính thức</li>
      <li>Trợ cấp thai sản (Hưởng thêm 3 tháng lương của nhân viên ngoài lương do Bảo hiểm và nhà nước chi trả)</li>
      <li>Trợ cấp tiếng Nhật, tiếng Anh, và các chứng chỉ IT liên quan (hình thức: khen thưởng, tăng lương...)</li>
      <li>Hỗ trợ phí tham gia Hội thảo ngoài Công ty 100.000 VND/ ngày</li>
      <li>Được tham gia các Câu lạc bộ dưới sự tài trợ chính thức của Công ty: CLB Bóng đá, các CLB Game, CLB dạy và học </li>tiếng Nhật, tham gia các bữa tiệc, hoạt động ngoại khóa của công ty ...</li>
      <li>Du lịch hàng năm</li>
      <li>Khám sức khỏe 1 năm/1 lần</li>
    </ul>
    <h5>Lương & hợp đồng làm việc:</h5>
    <ul>
      <li>Mức lương: 8.000.000 – 11.000.000 VNĐ.</li>
      <li>Thử việc 2 tháng.</li>
      <li>Thời gian làm việc: 5 ngày/tuần (từ thứ 2 đến thứ 6)</li>
    </ul>
    <div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path("entry[m_job_id]" => 2) %>">Apply Now</a></div>
  </div>
</div>
