<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3>Android Developer</h3>
    <p>Chúng tôi cần tuyển những lập trình viên Android nhiệt tình, chuyên nghiệp, không chỉ tham gia phát triển ứng dụng cho các đối tác hàng đầu Nhật Bản mà còn tập trung phát triển dịch vụ của công ty. Trở thành nhân viên của Framgia, bạn sẽ có cơ hội làm việc trong môi trường quốc tế năng động, công bằng, có nhiều cơ hội thăng tiến và phát triển bản thân. Bạn sẽ được tạo điều kiện hợp tác với những chuyên gia hàng đầu và nhiều cơ hội công tác tại Nhật Bản. Chúng tôi luôn khuyến khích nhân viên chủ động học hỏi công nghệ mới, vượt qua những rào cản về ngôn ngữ, văn hóa liên tục trao đổi với đối tác nước ngoài nhằm tìm ra giải pháp tốt nhất. </p>
    <p><img src="<%= image_path 'team-Android.png' %>" alt="team Android" width="800" height="340"></p>
    <h5>Mô tả công việc</h5>
    <ul>
      <li>Tham gia vào các dự án phần mềm với những doanh nghiệp hàng đầu Nhật Bản.</li>
      <li>Xây dụng các apps trên Android, tìm hiểu các công nghệ mới.</li>
      <li>Tham gia vào thiết kế và review source code.</li>
      <li>Báo cáo tiến độ và tình trạng công việc trực tiếp tới quản lý dự án.</li>
      <li>Tiếp cận và được đào tạo theo mô hình phát triển dự án Agile, Scrum.</li>
    </ul>
    <h5>Yêu cầu công việc</h5>
    <ul>
      <li>Ít nhất 2 năm kinh nghiệm làm việc với Android, thành thạo việc sử dụng IDE để phát triển (Eclipse, Android Studio...)</li>
      <li>Có kinh nghiệm làm việc trên nhiều devices khác nhau và tối ưu hiệu năng</li>
      <li>Có ứng dụng demo trên Google Play store là một lợi thế lớn</li>
      <li>Có tư duy tốt, hiểu biết về data structrures và algorithm. Nắm vững lập trình hướng đối tượng OOP.</li>
      <li>Chủ động, có tinh thần trách nhiệm cao đối với công việc.</li>
      <li>Có thể làm việc độc lập cũng như phối hợp trong Teamwork</li>
      <li>Sử dụng tiếng Anh thành thạo (đọc và viết)</li>
    </ul>
    <h5>Chế độ đãi ngộ</h5>
    <ul>
      <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo luật Bảo Hiểm.</li>
      <li>Xét tăng lương theo năng lực và kết quả công việc: 1 lần/năm.</li>
      <li>Điều chỉnh lương theo trượt giá thị trường: 1 lần/năm.</li>
      <li>Lương tháng 13</li>
      <li>Được hưởng trợ cấp ăn trưa từ 840,000VND/1 tháng (40.000VND/1 ngày làm việc thực tế).</li>
      <li>Trợ cấp Beauty Care 300.000VND/Tháng với nhân viên nữ ký hợp đồng chính thức.</li>
      <li>Trợ cấp đi lại từ 210.000 VND~ 630.000VND/1 tháng (Phụ thuộc vào khoảng cách từ nhà đến Công ty, mức tối thiểu là 10.000VND/1 ngày làm việc thực tế)</li>
      <li>Trợ cấp thai sản (Hưởng thêm 3 tháng lương của nhân viên ngoài lương do Bảo hiểm và nhà nước chi trả)</li>
      <li>Trợ cấp tiếng Nhật, tiếng Anh, và các chứng chỉ IT liên quan (hình thức: khen thưởng, tăng lương...)</li>
      <li>Hỗ trợ phí tham gia Hội thảo ngoài Công ty 100.000 VND/ ngày</li>
      <li>Được tham gia các Câu lạc bộ dưới sự tài trợ chính thức của Công ty: CLB Bóng đá, các CLB Game, CLB dạy và học tiếng Nhật, tham gia các bữa tiệc, hoạt động ngoại khóa của công ty ...</li>
      <li>Du lịch hàng năm.</li>
      <li>Khám sức khỏe định kỳ 1 năm/1 lần tại bệnh viện uy tín.</li>
    </ul>
    <h5>Lương & hợp đồng làm việc:</h5>
    <ul>
      <li>Mức lương: US $600 – US $1500</li>
      <li>Thử việc 2 tháng</li>
      <li>Thời gian làm việc: Từ thứ 2 đến thứ 6</li>
      <li>Thời gian học tập/nghiên cứu: 16h/tháng</li>
    </ul>
    <h5>Chi tiết khác:</h5>
    <ul>
      <li>Yêu cầu CV tiếng Anh, ghi rõ về kinh nghiệm làm việc và quá trình học tập của bản thân</li>
      <li>Nộp kèm source code của sản phẩm mình đã phát triển khi gửi CV, chuẩn bị sản phẩm để demo (nếu có) khi phỏng vấn.</li>
      <li>Yêu cầu ghi rõ vị trí tuyển dụng: Android Developer</li>
      <li>Ưu tiên ứng viên biết tiếng Nhật.</li>
    </ul>
    <div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path("entry[m_job_id]" => 4) %>">Apply Now</a></div>
  </div>
</div>
