<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3>NHÂN VIÊN NHÂN SỰ ($550 - $850)</h3>
    <h5>Mô tả công việc:</h5>
    <ul>
    <li>Lên kế hoạch, tổ chức các sự kiện trong Công ty.</li>
    <li>Truyền thông các hoạt động phong trào và các chương trình PR nội bộ trong công ty.</li>
    <li>Xây dựng các chính sách phúc lợi xã hội</li>
    <li>Cập nhật và phụ trách các vấn đề liên quan đến Bảo hiểm</li>
    <li>Lên kế hoạch về các chương trình đào tạo, tổ chức và triển khai các khóa đào tạo tới toàn bộ nhân viên</li>
    </ul>
    <h5>Yêu cầu công việc:</h5>
    <ul>
      <li>Nữ</li>
      <li>Tốt nghiệp đại học.</li>
      <li>Có ít nhất 03 năm kinh nghiệm ở vị trí tương đương.</li>
      <li>Sử dụng thành thạo tiếng Anh, tiếng Nhật tối thiểu N3.</li>
      <li>Hiểu biết các chính sách phúc lợi, Bảo hiểm</li>
      <li>Thành thạo các ứng dụng văn phòng.</li>
      <li>Năng động, trung thực, chịu khó học hỏi, sáng tạo trong công việc, biết tổ chức công việc hợp lý.</li>
      <li>Có tố chất gắn kết và xây dựng quan hệ đồng nghiệp tốt, hòa đồng với xung quanh.</li>
      <li>Có khả năng chịu được áp lực cao trong công việc.</li>
      <li>Kỹ năng giao tiếp tốt, ứng xử tốt.</li>
    </ul>
    <h5>Chế độ đãi ngộ</h5>
    <ul>
      <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo luật Bảo hiểm</li>
      <li>Xét tăng lương theo năng lực và kết quả công việc: 1 lần/năm.</li>
      <li>Điều chỉnh lương theo trượt giá thị trường: 1 lần/năm.</li>
      <li>Lương tháng 13</li>
      <li>Được hưởng trợ cấp ăn trưa 840.000VND/1 tháng.</li>
      <li>Trợ cấp đi lại tối thiểu 210.000VND/1 tháng, tối đa 630.000 VND/1 tháng (tùy thuộc vào khoảng cách từ nhà đến Công ty)</li>
      <li>Trợ cấp Beauty Care 300.000VND/Tháng với nhân viên nữ ký hợp đồng chính thức</li>
      <li>Trợ cấp thai sản (Hưởng thêm 3 tháng lương của nhân viên ngoài lương do Bảo hiểm và nhà nước chi trả)</li>
      <li>Trợ cấp tiếng Nhật, tiếng Anh, và các chứng chỉ IT liên quan (hình thức: khen thưởng, tăng lương...)</li>
      <li>Hỗ trợ phí tham gia Hội thảo ngoài Công ty 100.000 VND/ ngày</li>
      <li>Được tham gia các Câu lạc bộ dưới sự tài trợ chính thức của Công ty: CLB Bóng đá, các CLB Game, CLB dạy và học </li>tiếng Nhật, tham gia các bữa tiệc, hoạt động ngoại khóa của công ty ...</li>
      <li>Du lịch hàng năm</li>
      <li>Khám sức khỏe 1 năm/1 lần</li>
    </ul>
    <h5>Lương & hợp đồng làm việc:</h5>
    <ul>
      <li>Mức lương:  $550 - $800 (Thỏa thuận theo năng lực)</li>
      <li>Thử việc 2 tháng</li>
      <li>Thời gian làm việc: Từ thứ 2 đến thứ 6</li>
    </ul>
    <!--<div class="modal-footer"><a class="btn btn-alt btn-primary" style="background-color:#999">Hiện tại không tuyển dụng.</a></div> -->
    <div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path("entry[m_job_id]" => 24) %>">Apply Now</a></div>

  </div>
</div>
