<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3>PHP Developer (For Viblo)</h3>
    <h5>Mô tả công việc</h5>
    <p>Công ty Framgia đang tuyển PHP cho dự án <a href="https://viblo.asia">Viblo.</a></p>
    <p>Viblo là sản phẩm của chính Framgia tạo ra với phương châm ""nói tiếng nước nào, học lập trình bằng tiếng nước đó"".</p>
    <p><a href="https://viblo.asia">https://viblo.asia</a></p>
    <p>Đối với <a href="https://viblo.asia">Viblo.</a>, chúng tôi kì vọng đây sẽ là nơi mà người châu Á có thể học mọi thứ về lập trình bằng chính tiếng bản ngữ của họ, đồng thời là bước đầu tiên trong quá trình đưa những nhân tài lập trình đang ""ẩn dật"" của châu Á đến với toàn thế giới. Kế hoạch của chúng tôi là tạo ra môi trường sap cho những nhân tài đó có thể tiếp xúc với các cơ hội nhiều nhất có thể.</p>
    <p><a href="https://viblo.asia">Viblo</a> đang trong quá trình phát triển và có rất nhiều việc cần làm. Nếu bạn cảm thấy hứng thú với mục tiêu của chúng tôi, hãy ứng tuyển vào vị trí PHP cho <a href="https://viblo.asia">Viblo nhé.</a></p>
    <h5>Yêu cầu công việc</h5>
    <ul>
      <li>Tốt nghiệp đại học, cao đẳng chuyên ngành IT</li>
      <li>Có kinh nghiệm với một trong các Framework PHP :  Laravel </li>
      <li>Thao tác tốt với HTML, CSS, JavaScript (Jquery, Ajax, ...), Bootstrap, JSON, XML, ...</li>
      <li>Có hiểu biết về MVC Framework, ORM, RESTful  </li>
      <li>Có kinh nghiệm làm việc với MySQL hoặc NoSQL (MongoDB, ...)</li>
      <li>Thành thạo các công cụ quản lý mã nguồn: GIT, SVN.</li>
      <li>Có sản phẩm web, service bằng PHP demo là lợi thế. </li>
      <li>Có khả năng làm việc tốt trong môi trường Teamwork cũng như làm việc độc lập.</li>
      <li>Sử dụng thành thạo tiếng Anh đọc và viết.</li>
      <li>Có thể đảm bảo deadline cũng như chất lượng sản phẩm.</li>
      <li>Khả năng tuy duy tốt, chủ động trong công việc, có tinh thần trách nhiệm cao để hoàn thành công việc được giao</li>
    </ul>
    <h5>Chế độ đãi ngộ</h5>
    <ul>
      <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo chế độ nhà nước ban hành.</li>
      <li>Xét tăng lương theo năng lực và kết quả công việc: 1 lần/năm.</li>
      <li>Điều chỉnh lương theo trượt giá thị trường: 1 lần/năm.</li>
      <li>Lương tháng 13</li>
      <li>Được hưởng trợ cấp ăn trưa từ 840,000VND/1 tháng (40.000VND/1 ngày làm việc thực tế).</li>
      <li>Trợ cấp Beauty Care 300.000VND/Tháng với nhân viên nữ ký hợp đồng chính thức.</li>
      <li>Trợ cấp đi lại từ 210.000 VND~ 630.000VND/1 tháng (Phụ thuộc vào khoảng cách từ nhà đến Công ty, mức tối thiểu là 10.000VND/1 ngày làm việc thực tế)</li>
      <li>Trợ cấp thai sản (Hưởng thêm 3 tháng lương của nhân viên ngoài lương do Bảo hiểm và nhà nước chi trả)</li>
      <li>Trợ cấp tiếng Nhật, tiếng Anh, và các chứng chỉ IT liên quan (hình thức: khen thưởng, tăng lương...)</li>
      <li>Hỗ trợ phí tham gia Hội thảo ngoài Công ty 100.000 VND/ ngày</li>
      <li>Được tham gia các Câu lạc bộ dưới sự tài trợ chính thức của Công ty: CLB Bóng đá, các CLB Game, CLB dạy và học tiếng Nhật, tham gia các bữa tiệc, hoạt động ngoại khóa của công ty ...</li>
      <li>Du lịch hàng năm.</li>
      <li>Khám sức khỏe định kỳ 1 năm/1 lần tại bệnh viên uy tín.</li>
    </ul>
    <h5>Lương và Hợp đồng làm việc</h5>
    <ul>
      <li>Mức lương: $500 – $1000</li>
      <li>Thử việc 2 tháng</li>
      <li>Sau thử việc, ký hợp đồng chính thức, lương thỏa thuận theo kết quả thử việc</li>
    </ul>
    <h5>Yêu cầu khác</h5>
    <ul>
      <li>CV tiếng Anh, ghi rõ về những việc đã từng làm, kinh nghiệm và quá trình học tập của bản thân</li>
      <li>Gửi kèm sản phẩm demo hoặc source code do bản thân tự làm (nếu có)</li>
      <li>Cần ghi rõ với vai trò là PHP developer thì nhiệm vụ cụ thể và công việc của bản thân trong các dự án đã từng làm là gì</li>
      <li>Sau khi kiểm tra CV đạt yêu cầu sẽ liên lạc để hẹn lịch phỏng vấn</li>
    </ul>
    <div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path("entry[m_job_id]" => 7) %>">Apply Now</a></div>
  </div>
</div>
