<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3>PHP Developer (Salary 600-1500 USD)</h3>
    <h5>Mô tả công việc</h5>
    <p>Cần tuyển người phát triển dịch vụ mới dành cho thị trường Việt Nam. Dịch vụ được phát triển trên nền tảng Web và smartphone bằng các ngôn ngữ PHP (Laravel Framework), Java (Android), Swift (iOS).</p>
    <p>Dự án mang lại niềm vui bằng việc phát triển sản phầm từ con số 0. Tuy nhiên dự án cũng sẽ khó nhiều thử thách ldo với mục tiêu sản phẩm phải được nhiều người đón nhận, trong quá trình làm sẽ có nhiều thay đổi xuất phát từ thông số thực tế như số lượng truy cập hay phản ứng của người dùng. Chúng tôi cần người có thể sẵn sàng đương đầu và lấy những khó khăn đó làm bàn đạp để ngày một trưởng thành.</p>
    <h5>Công việc chính</h5>
    <ul>
      <li>Tham gia dự án phát triển mới các service cung cấp trong nước </li>
      <li>Phát triển các ứng dụng web, webservice, học hỏi công nghệ mới  </li>
      <li>Tham gia ReviewSourceCode và Design</li>
      <li>Tiếp cận và được đào tạo theo mô hình phát triển dự án Agile, Scrum</li>
      <li>Trực tiếp báo cáo tình hình công việc cho PM</li>
    </ul>
    <h5>Yêu cầu công việc</h5>
    <ul>
      <li>Tốt nghiệp đại học, cao đẳng chuyên ngành IT</li>
      <li>Có hiểu biết về Laravel Framework</li>
      <li>Có hiểu biết và có thể sử dụng HTML, CSS, JavaScript (Jquery, Ajax, ...), Bootstrap, JSON, XML</li>
      <li>Có hiểu biết về MVC Framework, ORM, RESTful </li>
      <li>Có thể sử dụng GIT, SVN. </li>
      <li>Có thể viết và nghe tiếng Anh</li>
      <li>Có kinh nghiệm phát triển web và dịch vụ với ngôn ngữ PHP, sản phẩm demo (nếu có)</li>
      <li>Có khả năng đảm bảo xong việc đúng thời gian và tự kiểm tra chất lượng công việc của bản thân</li>
      <li>Có khả năng làm việc nhóm tốt, đồng thời có khả năng một mình tự giải quyết khó khăn trong công việc</li>
    </ul>
    <h5>Địa điểm làm việc</h5>
    <ul>
      <li>Hà Nội hoặc Thành phố Hồ Chí Minh</li>
      <li>Trong trường hợp ứng viên có nguyện vọng làm việc tại Thành phố Hồ chí Minh, yêu cầu 3 tháng đầu đi làm tại Hà Nội, rồi sau đó mới chuyển vào Thành phố Hồ Chí Minh. Công ty có dự định thành lập chi nhánh ở Quận 1 nhưng chưa rõ địa điểm và thời gian cụ thể, công ty có trả phí nhà ở và vé máy bay.</li>
    </ul>
    <h5>Chế độ đãi ngộ</h5>
    <ul>
      <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo chế độ nhà nước ban hành.</li>
      <li>Xét tăng lương theo năng lực và kết quả công việc: 1 lần/năm.</li>
      <li>Điều chỉnh lương theo trượt giá thị trường: 1 lần/năm.</li>
      <li>Lương tháng 13</li>
      <li>Được hưởng trợ cấp ăn trưa từ 840,000VND/1 tháng (40.000VND/1 ngày làm việc thực tế).</li>
      <li>Trợ cấp Beauty Care 300.000VND/Tháng với nhân viên nữ ký hợp đồng chính thức.</li>
      <li>Trợ cấp đi lại từ 210.000 VND~ 630.000VND/1 tháng (Phụ thuộc vào khoảng cách từ nhà đến Công ty, mức tối thiểu là 10.000VND/1 ngày làm việc thực tế)</li>
      <li>Trợ cấp thai sản (Hưởng thêm 3 tháng lương của nhân viên ngoài lương do Bảo hiểm và nhà nước chi trả)</li>
      <li>Trợ cấp tiếng Nhật, tiếng Anh, và các chứng chỉ IT liên quan (hình thức: khen thưởng, tăng lương...)</li>
      <li>Hỗ trợ phí tham gia Hội thảo ngoài Công ty 100.000 VND/ ngày</li>
      <li>Được tham gia các Câu lạc bộ dưới sự tài trợ chính thức của Công ty: CLB Bóng đá, các CLB Game, CLB dạy và học tiếng Nhật, tham gia các bữa tiệc, hoạt động ngoại khóa của công ty ...</li>
      <li>Du lịch hàng năm.</li>
      <li>Khám sức khỏe định kỳ 1 năm/1 lần tại bệnh viên uy tín.</li>
    </ul>
    <ul>
      <li>Mức lương: $600 – $1500</li>
      <li>Thử việc 2 tháng</li>
      <li>Sau thử việc, ký hợp đồng chính thức, lương thỏa thuận theo kết quả thử việc</li>
      <li>Ngày nghỉ :
        <ul>
          <li>Nghỉ thứ 7, Chủ Nhật và các ngày lễ do công ty qui định</li>
          <li>Thời gian học tập nghiên cứu : 16 giờ / tháng</li>
        </ul>
      </li>
      <li>Thưởng theo thành tích thực tế từng tháng:
        <ul>
          <li>Quỹ tiền thưởng là 15% lợi nhuận hàng tháng, có thể thay đổi tùy tình hình kinh doanh</li>
          <li>Trả tiền thưởng vào tiền lương tháng tiếp theo</li>
          <li>Tính thưởng từ khi dịch vụ bắt đầu sinh lợi nhuận</li>
        </ul>
      </li>
    </ul>
    <h5>Yêu cầu khác</h5>
    <ul>
      <li>CV tiếng Anh, ghi rõ về những việc đã từng làm, kinh nghiệm và quá trình học tập của bản thân</li>
      <li>Gửi kèm sản phẩm demo hoặc source code do bản thân tự làm (nếu có)</li>
      <li>Cần ghi rõ với vai trò là PHP developer thì nhiệm vụ cụ thể và công việc của bản thân trong các dự án đã từng làm là gì</li>
      <li>Sau khi kiểm tra CV đạt yêu cầu sẽ liên lạc để hẹn lịch phỏng vấn</li>
    </ul>
    <div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path("entry[m_job_id]" => 7) %>">Apply Now</a></div>
  </div>
</div>
