<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3>Bridge SE</h3>
    <p>Bạn giỏi tiếng Nhật và yêu thích công nghệ thông tin? Bạn muốn tham gia tạo nên những sản phẩm phần mềm hàng đầu thế giới? Hãy tới làm việc tại Framgia- nơi hội tụ  những kỹ sư cầu nối ưu tú nhất . Tại Framgia, bạn không chỉ tham gia phát triển ứng dụng cho khách hàng là các đối tác hàng đầu Nhật Bản mà còn tập trung phát triển dịch vụ của công ty. Trở thành nhân viên của Framgia , bạn sẽ có cơ hội làm việc trong một môi trường chuyên nghiệp, công bằng, nhiều cơ hội phát triển bản thân và thăng tiến, có cơ hội học hỏi công nghệ, tư duy sáng tạo cùng khách hàng tìm ra giải pháp trong công việc . Có nhiều cơ hội cộng tác với đối tác nước ngoài và cơ hội làm việc tại Nhật Bản.</p>
    <p><img src="<%= image_path 'team-brSE.png' %>" alt="team BrSE" width="800" height="340"></p>
    <h5>Mô tả công việc</h5>
    <ul>
      <li>Kỹ sư cầu nối cho giữa đội phát triển ở Việt Nam với khách hàng Nhật</li>
      <li>Trao đổi trực tiếp với khách hàng qua email, skype (or chatwork) để điều chỉnh thống nhất yêu cầu</li>
      <li>Quản lý tiến độ dự án, báo cáo công việc định kỳ với khách hàng và quản lý dự án</li>
      <li>Loại hình dự án: Các hệ thống web-application (sử dụng ngôn ngữ Ruby, PHP, Java, ASP.NET. Các game ứng dụng trên nền smartphone ( iOS, Android, Unity)"</li>
    </ul>
    <h5>Yêu cầu công việc</h5>
    <ul>
      <li>Tốt nghiệp đại học chuyên ngành công nghệ thông tin</li>
      <li>Tiếng Nhật tương đương N2 trở lên</li>
      <li>Có kinh nghiệm 1 năm trở lên ở vị trí tương ứng.</li>
      <li>Ưu tiên những ứng viên đã cókinh nghiệm làm việc hoặc hoặc tập tại Nhật Bản</li>
      <li>Hiểu biết về lập trình hướng đối tượng</li>
      <li>Thành thạo và có kinh nghiệm sử dụng ít nhất một trong các ngôn ngữ ASP.NET
      PHP, Java, Ruby, Objective-C, Android SDK, Unity
      ( ưu tiên ứng viên có kinh nghiệm về.Net)</li>
      <li>Có khả năng leadership, có ý thức trách nhiêm cao , có tinh thần làm việc teamwork</li>
    </ul>
    <h5>Chế độ đãi ngộ</h5>
    <ul>
      <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo chế độ nhà nước ban hành.</li>
      <li>Xét tăng lương theo năng lực và kết quả công việc: 1 lần/năm.</li>
      <li>Điều chỉnh lương theo trượt giá thị trường: 1 lần/năm.</li>
      <li>Lương tháng 13</li>
      <li>Được hưởng trợ cấp ăn trưa từ 840,000VND/1 tháng (40.000VND/1 ngày làm việc thực tế).</li>
      <li>Trợ cấp Beauty Care 300.000VND/Tháng với nhân viên nữ ký hợp đồng chính thức.</li>
      <li>Trợ cấp đi lại từ 210.000 VND~ 630.000VND/1 tháng (Phụ thuộc vào khoảng cách từ nhà đến Công ty, mức tối thiểu là 10.000VND/1 ngày làm việc thực tế)</li>
      <li>Trợ cấp thai sản (Hưởng thêm 3 tháng lương của nhân viên ngoài lương do Bảo hiểm và nhà nước chi trả)</li>
      <li>Trợ cấp tiếng Nhật, tiếng Anh, và các chứng chỉ IT liên quan (hình thức: khen thưởng, tăng lương...)</li>
      <li>Hỗ trợ phí tham gia Hội thảo ngoài Công ty 100.000 VND/ ngày</li>
      <li>Được tham gia các Câu lạc bộ dưới sự tài trợ chính thức của Công ty: CLB Bóng đá, các CLB Game, CLB dạy và học tiếng Nhật, tham gia các bữa tiệc, hoạt động ngoại khóa của công ty ...</li>
      <li>Du lịch hàng năm.</li>
      <li>Khám sức khỏe định kỳ 1 năm/1 lần tại bệnh viên uy tín.</li>
    </ul>
    <h5>Lương & hợp đồng làm việc:</h5>
    <ul>
      <li>Mức lương: US $900 – US $1800</li>
      <li>Thử việc 2 tháng</li>
      <li>Thời gian làm việc: Từ thứ 2 đến thứ 6</li>
      <li>Thời gian học tập/nghiên cứu: 16h/tháng</li>
    </ul>
    <h5>Chi tiết khác:</h5>
    <ul>
    <li>Yêu cầu ghi rõ vị trí tuyển dụng: Bridge SE</li>
    <li>Trong CV yêu cầu ghi rõ về kinh nghiệm làm việc và quá trình học tập của bản thân bằng tiếng Nhật</li>
    </ul>
    <div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path("entry[m_job_id]" => 14) %>">Apply Now</a></div>
  </div>
</div>
