<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3>Japanese Communicator</h3>
    <p>Với vai trò Comtor của dự án, bạn sẽ cầu nối truyền đạt thông tin giữa khách hàng và các member trong team. Về nội dung công việc sẽ bao gồm dịch viết: nội dung yêu cầu của ticket, các tài liệu mô tả kèm theo, trao đổi giữa hai bên. Ngoài ra, sẽ có những buổi dịch meeting giữa khách hàng và team. Nếu comtor sẽ có sự hiểu biết cơ bản về kỹ thuật hoặc QA thì sẽ hữu ích rất nhiều cho project. Tuy nhiên, vì môi trường làm việc ở Framgia rất thân thiện, cởi mở, hòa đồng nên dẫu bạn mới tốt nghiệp chuyên ngành tiếng nhật hay chưa có nhiều kiến thức về kỹ thuật thì bạn hãy yên tâm bởi làm comtor ở Framgia cũng là cơ hội tốt để vừa làm, vừa trau dồi thêm nhiều kiến thức mới về kỹ thuật, về tiếng nhật, về văn hóa của Nhật bản. Ở đây, luôn có những đồng nghiệp người Nhật hay các anh lập trình viên hay các chị QA, comtor sẵn sàng giúp đỡ bạn.</p>
    <p><img src="<%= image_path 'team-Comter.png' %>" alt="team Comter" width="800" height="340"></p>
    <h5>Mô tả công việc</h5>
    <ul>
      <li>Cầu nối giữa đội phát triển Việt Nam với khách hàng Nhật</li>
      <li>Phiên dịch từ tiếng Nhât – Việt và Việt-Nhật cho đội dự án Việt Nam và khách hàng Nhật.</li>
      <li>Phiên dịch trong các buổi meeting dự án, đảm bảo thông tin dự án được truyền đạt chính xác kịp thời tới 2 phía khách hàng và đội dự án</li>
      <li>Dịch tài liệu dự án từ tiếng Nhật sang Việt và ngược lại</li>
      <li>Phụ trách các vấn đề Teambuilding, tạo được không khí thân thiện giữa đội dự án với khách hàng</li>
      <li>Số lượng tuyển dụng: 2</li>
    </ul>
    <h5>Yêu cầu công việc</h5>
    <ul>
      <li>Trẻ trung, năng động, sáng tạo</li>
      <li>Tiếng Nhật (N2 trở lên), mong muốn trở thành Kỹ sư cầu nối</li>
      <li>Có kinh nghiệm làm comtor 1 năm trở lên cho các Công ty IT (Ưu tiên những ứng viên đã có kinh nghiệm làm việc hoặc hoặc tập tại Nhật Bản)</li>
      <li>Có khả năng quản lý sắp xếp thông tin, tài liệu tốt</li>
      <li>Chịu trách nhiệm cao nhất trong việc quản lý thông tin, tài liệu từ phía khách hàng</li>
      <li>Có khả năng đưa ra được những ý kiến, góp ý với Manager cũng như khách hàng để cải thiện communication trong toàn bộ dự án, tăng performance của dự án</li>
      <li>Tư duy tốt, có khả năng tổng hợp thông tin để truyền đạt lại cho đội dự án</li>
    </ul>
    <h5>Chế độ đãi ngộ</h5>
    <ul>
      <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo luật Bảo hiểm</li>
      <li>Xét tăng lương theo năng lực và kết quả công việc: 1 lần/năm.</li>
      <li>Điều chỉnh lương theo trượt giá thị trường: 1 lần/năm.</li>
      <li>Lương tháng 13</li>
      <li>Được hưởng trợ cấp ăn trưa 840.000VND/1 tháng.</li>
      <li>Trợ cấp đi lại tối thiểu 210.000VND/1 tháng, tối đa 630.000 VND/1 tháng (tùy thuộc vào khoảng cách từ nhà đến Công ty)</li>
      <li>Trợ cấp Beauty Care 300.000VND/Tháng với nhân viên nữ ký hợp đồng chính thức</li>
      <li>Trợ cấp thai sản (Hưởng thêm 3 tháng lương của nhân viên ngoài lương do Bảo hiểm và nhà nước chi trả)</li>
      <li>Trợ cấp tiếng Nhật, tiếng Anh, và các chứng chỉ IT liên quan (hình thức: khen thưởng, tăng lương...)</li>
      <li>Hỗ trợ phí tham gia Hội thảo ngoài Công ty 100.000 VND/ ngày</li>
      <li>Được tham gia các Câu lạc bộ dưới sự tài trợ chính thức của Công ty: CLB Bóng đá, các CLB Game, CLB dạy và học </li>tiếng Nhật, tham gia các bữa tiệc, hoạt động ngoại khóa của công ty ...</li>
      <li>Du lịch hàng năm</li>
      <li>Khám sức khỏe 1 năm/1 lần</li>
    </ul>
    <h5>Lương & hợp đồng làm việc:</h5>
    <ul>
      <li>Lương: 600 - 1.200 USD</li>
      <li>Thử việc 2 tháng, lương thỏa thuận</li>
      <li>Thời gian làm việc: Từ thứ 2 đến thứ 6</li>
      <li>Thời gian học tập/nghiên cứu: 16h/tháng</li>
    </ul>
    <h5>Hồ Sơ:</h5>
    <ul>
      <li>Yêu cầu ghi rõ vị trí tuyển dụng: Japanese Comtor</li>
      <li>CV Tiếng Nhật</li>
      <li>Bằng cấp, chứng chỉ liên quan</li>
    </ul>
    <div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path("entry[m_job_id]" => 15) %>">Apply Now</a></div>
  </div>
</div>
