<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3>Human Resouce</h3>
    <p>Nếu bạn yêu thích ngoại ngữ, có khả năng đảm nhận các công việc kế toán,  hành chính, nhân sự, tổ chức sự kiện hãy tới cộng tác cùng chúng tôi. Chúng tôi luôn đón chào những ứng viên năng động, sáng tạo, nhiệt tình trong công việc , có kỹ năng giao tiếp tốt.</p>
    <p><img src="<%= image_path 'HR-Team.png' %>" alt="team Human Resouce" width="800" height="340"></p>
    </ul>
    <h5>Chế độ đãi ngộ</h5>
    <ul>
      <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo luật Bảo hiểm</li>
      <li>Xét tăng lương theo năng lực và kết quả công việc: 1 lần/năm.</li>
      <li>Điều chỉnh lương theo trượt giá thị trường: 1 lần/năm.</li>
      <li>Lương tháng 13</li>
      <li>Được hưởng trợ cấp ăn trưa 840.000VND/1 tháng.</li>
      <li>Trợ cấp đi lại tối thiểu 210.000VND/1 tháng, tối đa 630.000 VND/1 tháng (tùy thuộc vào khoảng cách từ nhà đến Công ty)</li>
      <li>Trợ cấp Beauty Care 300.000VND/Tháng với nhân viên nữ ký hợp đồng chính thức</li>
      <li>Trợ cấp thai sản (Hưởng thêm 3 tháng lương của nhân viên ngoài lương do Bảo hiểm và nhà nước chi trả)</li>
      <li>Trợ cấp tiếng Nhật, tiếng Anh, và các chứng chỉ IT liên quan (hình thức: khen thưởng, tăng lương...)</li>
      <li>Hỗ trợ phí tham gia Hội thảo ngoài Công ty 100.000 VND/ ngày</li>
      <li>Được tham gia các Câu lạc bộ dưới sự tài trợ chính thức của Công ty: CLB Bóng đá, các CLB Game, CLB dạy và học </li>tiếng Nhật, tham gia các bữa tiệc, hoạt động ngoại khóa của công ty ...</li>
      <li>Du lịch hàng năm</li>
      <li>Khám sức khỏe 1 năm/1 lần</li>
    </ul>
    <h5>Lương & hợp đồng làm việc:</h5>
    <ul>
    <li>Thử việc 2 tháng, lương thỏa thuận</li>
      <li>Thời gian làm việc: Từ thứ 2 đến thứ 6</li>
      <li>Thời gian học tập/nghiên cứu: 16h/tháng</li>
    </ul>
    <h5>Chi tiết khác:</h5>
    <ul>
    <li>Yêu cầu ghi rõ vị trí tuyển dụng: Human Resouce</li>
    <li>Trong CV yêu cầu ghi rõ về kinh nghiệm làm việc và quá trình học tập của bản thân bằng tiếng Anh</li>
    <li>Sau thử việc, ký hợp đồng chính thức, lương thỏa thuận theo kết quả thử việc</li>
    <li>Ứng viên phải làm một bài kiểm tra khi đến phỏng vấn</li>
    </ul>
    <div class="modal-footer"><a class="btn btn-alt btn-primary" style="background-color:#999">Hiện tại không tuyển dụng.</a></div>
  </div>
</div>
