<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3> Infrastructure Engineer </h3>
    <p>Chúng tôi cần tuyển Kỹ sư kiến trúc hệ thống làm việc trong FRAMGIA có trách nhiệm đảm bảo những dịch vụ hạ tầng kỹ thuật cho những khách hàng mới và cả khách hàng hiện tại, ngoài ra bạn sẽ có trách nhiệm như một thành viên nhóm support đảm bảo về môi trường khi cty cung cấp services cho những khách hàng Nhật hoặc các nước trong khối ASEAN. Bạn sẽ chịu trách nhiệm xây dựng và support vận hành cho những kiên trúc hệ thống server xung quanh các hệ điều hành hoặc nền tảng công nghệ ví dụ Citrix XenApp, VMWARE, Hyper-V, AWS, Mac OSX, windows vv. Với tư cách là sản phẩn dịch vụ của FRAMGIA bạn sẽ phải làm việc để làm bảo về mặt ổn định, tin cậy và hiệu năng cao của hệ thống cung cấp cho Khách hàng. Làm việc đồng thời với Khách hàng trực tiếp hoặc team của FRAMGIA. Bạn sẽ có trách nhiệm đảm bảo tính năng kỹ thuật, hiệu năng hệ thống cũng như vận hành trơn tru cho toàn bộ hệ thống của FRAMGIA khi deploy cho Khách hàng cũng như là vận hành những hệ thống lớn và phức hợp sau khi đã golive. Ứng viên phù hợp với hệ thống này sẽ là những người có kỹ năng xử lý tình huống tốt , kỹ năng phân tích và kinh nghiệm trong việc tích hợp nhiều loại nền tảng công nghệ cũng như các sản phẩm của các hang lớn, kỹ năng giao tiếp cũng như giải quyết các ván đề phức tạp và đặc biệt.   </p>
    <h5>Mô tả công việc</h5>
    <ul>
      <li>Quản lý bảo trì kiến trúc lưu trữ dữ liệu và môi trường ảo hoá, server, network, productivity tools, AWS account vv.</li>
      <li>Vận hành giám sát và bảo trì toàn bộ hệ thống mạng, bảo mật, máy tính của cty cũng như hệ thống tương lai khi có yêu cầu của cấp trên.</li>
      <li>Giám sát thường xuyên các hiệu năng hệt hống và phát hiện issue sớm nhất, khắc phục trong thời gian ngắn nhất.</li>
      <li>Kiểm tra toàn bộ và thường kỳ đối với mạng, phần cứng, phần mềm, cũng như server lưu trữ app.</li>
      <li>Giám sát và đảm bảo cung cấp cho Khách hàng những sản phẩm chuẩn chất lương phù hợp yêu cầu của Khách hàng và nằm trong budget của họ.</li>
      <li>Tham gia vào dự án từ giai đoạn tìm hiểu yêu cầu và cũng như các giai đoạn tiếp theo của dự án để bảo đảm về mặt infra không có issue nào trong dự án.</li>
      <li>Làm việc với nhiều nhà cung cấp để luôn đảm bảo có được các sản phẩm tốt, đủ chất lượng, giá cạnh tranh.</li>
      <li>Biết cách trình bày issue và report một cách thường xuyên để cấp trên nắm được tình hình kiến trúc hệ thống.</li>
      <li>Thể hiện được kỹ năng tư vấn cũng như đóng góp về mặt kỹ thuật cho toàn bộ dự án trong phạm vi năng lực của infra team.</li>
      <li>Lên kế hoạch duy trì các hệ thống thiết yếu, xây dựng tài liệu kiến trúc và vận hành với các hệ thống đã xây dựng hoặc chỉnh sửa.</li>
      <li>Kỹ năng nắm bắt xu thế công nghệ để đưa ra được các lời khuyên cũng như những giải pháp có tính khả thi cao.</li>
    </ul>
    <h5>Yêu cầu công việc</h5>
    <ul>
      <li>Có kinh nghiệm và nền tảng kỹ thuật tốt về dịch vụ hosting bao gồm cả phần networks, infra, hardware, software and telecom.</li>
      <li>Có kinh nghiệm về incident ticketing systems, workstation management systems and desktop imaging. Knowledge of Microsoft Active Directory, Exchange 2010 and SQL Server, LDAP etc.</li>
      <li>Có hiểu biết về bảo mật liên quan đến nền tảng cloud.</li>
      <li>Có kinh nghiêm sử dụng các tools giám sát vận hành tự động.</li>
      <li>Có khả năng nắm bắt xu hướng xảy ra lỗi cũng như rủi ro, để luôn đảm bảo loại trừ được các rủi ro tiềm tàng với các giao thức chuẩn.</li>
      <li>Kỹ năng thu thập thông tin và xử lý vấn đề dựa trên các hệ thống tương tự hay các hệ thống liên quan.</li>
      <li>Có khả năng làm việc nhóm tốt.</li>
      <li>Có kỹ năng phân tích, giải quyết vấn đề và đặc biệt là kỹ năng ra quyết định.</li>
      <li>Kỹ năng làm việc tỉ mỉ, kiểm tra và viết tài liệu hướng dẫn, tài liệu vận hành liên quan hệ thống tốt.</li>
      <li>Có hiểu biết về ITIL kinh nghiệm ảo hoá với Hyper-v, VMware, AWS.</li>
      <li>Có khả năng làm việc trên môi trường cloud , hosting.</li>
      <li>Có kinh nghiệm thực tế với các hệ điều hành sử dụng làm server Linux(Ubuntu, Cent OS, Fedora).</li>
      <li>Có khả năng support như help desk, hoặc support delivery các ứng dụng lên các store.</li>
      <li>Có kinh nghiệm và khả năng duy trì quan hệ với các nhà cung cấp phần cứng phần mềm , dịch vụ v.v…</li>
      <li>Năng lực tiếng anh tốt, với cả 4 kỹ năng nghe nói đọc viêt.</li>
      <li>Ưu tiên những người tốt nghiệp các ngành liên quan hệ thống, khoa học máy tính, bảo mật, hạ tầng mạng vv</li>
    </ul>
    <h5>Chế độ đãi ngộ</h5>
    <ul>
      <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo chế độ nhà nước ban hành.</li>
      <li>Xét tăng lương theo năng lực và kết quả công việc: 1 lần/năm.</li>
      <li>Điều chỉnh lương theo trượt giá thị trường: 1 lần/năm.</li>
      <li>Lương tháng 13</li>
      <li>Được hưởng trợ cấp ăn trưa từ 840,000VND/1 tháng (40.000VND/1 ngày làm việc thực tế).</li>
      <li>Trợ cấp Beauty Care 300.000VND/Tháng với nhân viên nữ ký hợp đồng chính thức.</li>
      <li>Trợ cấp đi lại từ 210.000 VND~ 630.000VND/1 tháng (Phụ thuộc vào khoảng cách từ nhà đến Công ty, mức tối thiểu là 10.000VND/1 ngày làm việc thực tế)</li>
      <li>Trợ cấp thai sản (Hưởng thêm 3 tháng lương của nhân viên ngoài lương do Bảo hiểm và nhà nước chi trả)</li>
      <li>Trợ cấp tiếng Nhật, tiếng Anh, và các chứng chỉ IT liên quan (hình thức: khen thưởng, tăng lương...)</li>
      <li>Hỗ trợ phí tham gia Hội thảo ngoài Công ty 100.000 VND/ ngày</li>
      <li>Được tham gia các Câu lạc bộ dưới sự tài trợ chính thức của Công ty: CLB Bóng đá, các CLB Game, CLB dạy và học tiếng Nhật, tham gia các bữa tiệc, hoạt động ngoại khóa của công ty ...</li>
      <li>Du lịch hàng năm.</li>
      <li>Khám sức khỏe định kỳ 1 năm/1 lần tại bệnh viên uy tín.</li>
    </ul>
    <h5>Lương & hợp đồng làm việc:</h5>
    <ul>
    <li>Thử việc 2 tháng, lương thỏa thuận</li>
      <li>Thời gian làm việc: Từ thứ 2 đến thứ 6</li>
      <li>Thời gian học tập/nghiên cứu: 16h/tháng</li>
    <li>Mức lương: $700 –  $1000</li>
    </ul>
    <h5>Chi tiết khác:</h5>
    <ul>
      <li>Yêu cầu CV tiếng Anh, ghi rõ về kinh nghiệm làm việc và quá trình học tập của bản thân</li>
      <li>Yêu cầu ghi rõ vị trí tuyển dụng: Infrastructure Engineer</li>
      <li>Ưu tiên biết tiếng Nhật.</li>
    </ul>
    <div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path("entry[m_job_id]" => 13) %>">Apply Now</a></div>
  </div>
</div>
