<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3>INTERNSHIP</h3>
    <p style="text-align: justify;">Với mục tiêu tuyển dụng đội ngũ kỹ sư giỏi tham gia vào các dự án phát triển phần mềm, Framgia VN mong muốn tuyển các bạn sinh viên năm cuối từ các trường ĐH về IT để đào tạo sau đó tuyển dụng chính thức khi các bạn kết thúc thời gian đào tạo và đáp ứng được yêu cầu công việc. Đây không chỉ là cơ hội các bạn sinh viên học hỏi kiến thức thực tế tại doanh nghiệp, mà còn là cơ hội để các đặt những bước đầu tiên lên con đường sự nghiệp tương lai của mình.</p>
    <h5>Số lượng cần tuyển</h5>
    <ul>
    <li>Android: 02</li>
    <li>iOS: 02</li>
    <li>PHP: 04</li>
    <li>Ruby: 15</li>
    </ul>
    <h5>LƯƠNG & CHÍNH SÁCH ĐÃI NGỘ (TRONG THỜI GIAN ĐÀO TẠO)</h5>
    <ul>
      <li>Mức lương: 4.200.000/tháng</li>
      <li>Phụ cấp ăn trưa: 840.000/tháng</li>
      <li>Phụ cấp đi lại: 210.000 - 660.000/tháng (Tùy thuộc khoảng cách từ nhà đến công ty)</li>
      <li>* Lưu ý: Mức lương trên tính trên thời gian làm việc full-time</li>
      <li>Thời gian làm việc: Theo kế hoạch sắp xếp của sinh viên, điều chỉnh cho phù hợp với lịch học và các kế hoạch khác.</li>
      <li>Sau thời gian đào tạo nếu đáp ứng yêu cầu sẽ được tuyển dụng chính thức, mức lương từ 8.000.000 - 11.000.000 cùng với nhiều chế độ khác</li>
    </ul>
    <h5> Quy trình tuyển dụng:</h5>
    <ul>
      <li>Vòng 1: Test</li>
      <li>Vòng 2: Phỏng vấn</li>
    </ul>
    <h5>Chi tiết khác:</h5>
    <ul>
      <li>Yêu cầu CV tiếng Anh</li>
      <li>Yêu cầu ghi rõ vị trí tuyển dụng: Internship</li>
    </ul>
    <div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path("entry[m_job_id]" => 11) %>">Apply Now</a></div>
  </div>
</div>
