<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3>Senior .Net Developer</h3>
    <h5>Mô tả công việc</h5>
    <ul>
    <li>Phát triển các ứng dụng web sử dụng ASP.NET, Ruby on Rails </li>
    <li>Sẵn sàng chuyển sang training và làm việc với một ngôn ngữ mới </li>
    <li>Báo cáo tiến độ và tình trạng công việc trực tiếp tới quản lý dự án </li>
    <li>Tham gia vào các dự án phần mềm với các đối tác hàng đầu Nhật Bản </li>
    <li>Làm việc trong môi trường chuyên nghiệp tại Việt Nam và Nhật Bản. </li>
    <li>Cơ hội trở thành key person của công ty</li>
    </ul>
    <h5>Yêu cầu công việc</h5>
    <ul>
    <li>Trên 3 năm kinh nghiệm làm việc với ASP.NET, C#. Ưu tiên những ứng viên có kinh nghiệm ở vị trí leader </li>
    <li>Biết lập trình Ruby on Rails là một lợi thế</li> 
    <li>Thao tác tốt với HTML, CSS, JavaScript (Jquery, AngularJS, Ajax, ...), Bootstrap, JSON, XML, ... </li>
    <li>Nắm vững về OOP, MVC Framework, ORM, RESTful, Design Patterns </li>
    <li>Thành thạo các công cụ quản lý mã nguồn: GIT, SVN, TFS, ... </li>
    <li>Thao tác tốt với một trong các Database: MySQL, PostgreSQL, Oracle, MS SQL, ... </li>
    <li>Có kinh nghiệm làm việc trong các dự án theo mô hình Agile </li>
    <li>Có khả năng làm việc tốt trong môi trường teamwork cũng như làm việc độc lập </li>
    <li>Có thể làm việc dưới áp lực cao về deadline cũng như chất lượng sản phẩm </li>
    <li>Khả năng tuy duy tốt, chủ động trong công việc, có tinh thần trách nhiệm cao để hoàn thành công việc được giao </li>
    <li>Sử dụng thành thạo tiếng Anh đọc và viết</li>
    </ul>
    <h5>LƯƠNG & HỢP ĐỒNG LÀM VIỆC</h5>
    <ul>
    <li>Thử việc tối đa 2 tháng.</li>
    <li>Thời gian làm việc: Từ thứ 2 đến thứ 6.</li>
    <li>Thời gian học tập/nghiên cứu: 16h/tháng/</li>
    <li>Mức lương: $600 – $1500.</li>
    </ul>
    <h5>Chế độ đãi ngộ</h5>
    <ul>
      <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo chế độ nhà nước ban hành.</li>
      <li>Xét tăng lương theo năng lực và kết quả công việc: 1 lần/năm.</li>
      <li>Điều chỉnh lương theo trượt giá thị trường: 1 lần/năm.</li>
      <li>Lương tháng 13</li>
      <li>Được hưởng trợ cấp ăn trưa từ 840,000VND/1 tháng (40.000VND/1 ngày làm việc thực tế).</li>
      <li>Trợ cấp Beauty Care 300.000VND/Tháng với nhân viên nữ ký hợp đồng chính thức.</li>
      <li>Trợ cấp đi lại từ 210.000 VND~ 630.000VND/1 tháng (Phụ thuộc vào khoảng cách từ nhà đến Công ty, mức tối thiểu là 10.000VND/1 ngày làm việc thực tế)</li>
      <li>Trợ cấp thai sản (Hưởng thêm 3 tháng lương của nhân viên ngoài lương do Bảo hiểm và nhà nước chi trả)</li>
      <li>Trợ cấp tiếng Nhật, tiếng Anh, và các chứng chỉ IT liên quan (hình thức: khen thưởng, tăng lương...)</li>
      <li>Hỗ trợ phí tham gia Hội thảo ngoài Công ty 100.000 VND/ ngày</li>
      <li>Được tham gia các Câu lạc bộ dưới sự tài trợ chính thức của Công ty: CLB Bóng đá, các CLB Game, CLB dạy và học tiếng Nhật, tham gia các bữa tiệc, hoạt động ngoại khóa của công ty ...</li>
      <li>Du lịch hàng năm.</li>
      <li>Khám sức khỏe định kỳ 1 năm/1 lần tại bệnh viên uy tín.</li>
    </ul>
    <div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path("entry[m_job_id]" => 20) %>">Apply Now</a></div>
  </div>
</div>

