<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3>PHP Developer (up To $1500)</h3>
    <p><img src="<%= image_path 'Team-PHP.jpg' %>" alt="team PHP" width="800" height="340"></p>
    <h5>Mô tả công việc</h5>
    <p>Hiện tại, Framgia cần tuyển các kỹ sư PHP cho 2 vị trí sau</p>
    <p style="font-weight: bold;">1. Lập trình viên PHP cho dự án Viblo.</p>
    <p>Viblo là sản phẩm của chính Framgia tạo ra với phương châm "nói tiếng nước nào, học lập trình bằng tiếng nước đó".</p>
    <p>Đối với Viblo, chúng tôi kì vọng đây sẽ là nơi mà người châu Á có thể học mọi thứ về lập trình bằng chính tiếng
bản ngữ của họ, đồng thời là bước đầu tiên trong quá trình đưa những nhân tài lập trình đang "ẩn dật" của châu Á
đến với toàn thế giới. Kế hoạch của chúng tôi là tạo ra môi trường sao cho những nhân tài đó có thể tiếp xúc với các cơ hội
nhiều nhất có thể.</p>
    <p>Viblo đang trong quá trình phát triển và có rất nhiều việc cần phải làm. Nếu bạn cảm thấy hứng thú với suy nghĩ của chúng
tôi, hãy ứng tuyển vào vị trí lập trình viên PHP nhé.</p>
    <p style="font-weight: bold;">2. Lập trình viên PHP tham gia các dự án phát triển phần mềm cho thị trường Nhật</p>
    <ul>
      <li>Xây dựng các ứng dụng web, web service.</li>
      <li>Tham gia vào thiết kế và review source code.</li>
      <li>Báo cáo tiến độ và tình trạng công việc trực tiếp tới quản lý dự án.</li>
      <li>Tiếp cận và được đào tạo theo mô hình phát triển dự án Agile, Scrum</li>
    </ul>
    <h5>Yêu cầu công việc</h5>
    <ul>
      <li>Tốt nghiệp đại học, cao đẳng chuyên ngành IT</li>
      <li>Có kinh nghiệm với một trong các Framework PHP: CakePHP, Zend, CodeIgniter, Yii, Symfony, Laravel, Phalcon,... </li>
      <li>Thao tác tốt với HTML, CSS, JavaScript (Jquery, Ajax, ...), Bootstrap, JSON, XML, ...</li>
      <li>Có hiểu biết về MVC Framework, ORM, RESTful, OOP, DesignPattern, ... </li>
      <li>Có kinh nghiệm làm việc với MySQL hoặc NoSQL (MongoDB, ...)</li>
      <li>Thành thạo các công cụ quản lý mã nguồn: GIT, SVN.</li>
      <li>Có kinh nghiệm làm việc trong các dự án theo mô hình Agile </li>
      <li>Có khả năng làm việc tốt trong môi trường Teamwork cũng như làm việc độc lập.</li>
      <li>Có thể làm việc dưới áp lực cao về deadline cũng như chất lượng sản phẩm.</li>
      <li>Khả năng tuy duy tốt, chủ động trong công việc, có tinh thần trách nhiệm cao để hoàn thành công việc được giao</li>
    </ul>
    <p style="font-weight: bold;">*** Đối với Lập trình viên PHP cho dự án Viblo</p>
    <ul>
      <li>Yêu cầu có kinh nghiệm làm việc với Laravel Framework</li>
      <li>Có sản phẩm web, service bằng PHP demo là một lợi thế</li>
    </ul>
    <h5>Chế độ đãi ngộ</h5>
    <ul>
      <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo chế độ nhà nước ban hành.</li>
      <li>Xét tăng lương theo năng lực và kết quả công việc: 1 lần/năm.</li>
      <li>Điều chỉnh lương theo trượt giá thị trường: 1 lần/năm.</li>
      <li>Lương tháng 13</li>
      <li>Được hưởng trợ cấp ăn trưa từ 840,000VND/1 tháng (40.000VND/1 ngày làm việc thực tế).</li>
      <li>Trợ cấp Beauty Care 300.000VND/Tháng với nhân viên nữ ký hợp đồng chính thức.</li>
      <li>Trợ cấp đi lại từ 210.000 VND~ 630.000VND/1 tháng (Phụ thuộc vào khoảng cách từ nhà đến Công ty, mức tối thiểu là 10.000VND/1 ngày làm việc thực tế)</li>
      <li>Trợ cấp thai sản (Hưởng thêm 3 tháng lương của nhân viên ngoài lương do Bảo hiểm và nhà nước chi trả)</li>
      <li>Trợ cấp tiếng Nhật, tiếng Anh, và các chứng chỉ IT liên quan (hình thức: khen thưởng, tăng lương...)</li>
      <li>Hỗ trợ phí tham gia Hội thảo ngoài Công ty 100.000 VND/ ngày</li>
      <li>Được tham gia các Câu lạc bộ dưới sự tài trợ chính thức của Công ty: CLB Bóng đá, các CLB Game, CLB dạy và học tiếng Nhật, tham gia các bữa tiệc, hoạt động ngoại khóa của công ty ...</li>
      <li>Du lịch hàng năm.</li>
      <li>Khám sức khỏe định kỳ 1 năm/1 lần tại bệnh viên uy tín.</li>
    </ul>
  </div>
</div>
