<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3>Python Developer</h3>
    <p>Chúng tôi cần tuyển những lập trình viên Python nhiệt tình, chuyên nghiệp, không chỉ tham gia phát triển ứng dụng cho các đối tác hàng đầu Nhật Bản mà còn tập trung phát triển dịch vụ của công ty. 
Trở thành nhân viên của Framgia, bạn sẽ có cơ hội làm việc trong môi trường quốc tế năng động, công bằng, có nhiều cơ hội thăng tiến và phát triển bản thân. Bạn sẽ được tạo điều kiện hợp tác với những chuyên gia hàng đầu và nhiều cơ hội công tác tại Nhật Bản. Chúng tôi luôn khuyến khích nhân viên chủ động học hỏi công nghệ mới, vượt qua những rào cản về ngôn ngữ, văn hóa liên tục trao đổi với đối tác nước ngoài nhằm tìm ra giải pháp tốt nhất.</p>
    <h5>Mô tả công việc</h5>
    <ul>
      <li>Tham gia vào các dự án phần mềm với những doanh nghiệp hàng đầu Nhật Bản</li>
      <li>Phát triển các ứng dụng web, tìm hiểu các công nghệ mới .</li>
      <li>Tham gia vào thiết kế và review source code.</li>
      <li>Tiếp cận và được đào tạo theo mô hình phát triển dự án Agile, Scrum.</li>
      <li>Luôn cập nhật tiến độ và thông báo tình trạng công việc trực tiếp tới quản lý dự án.</li>
    </ul>
    <h5>Yêu cầu công việc</h5>
    <ul>
      <li>Tốt nghiệp đại học chính quy hoặc đã được đào tạo chuyên ngành công nghệ thông tin </li>
      <li>Có kinh nghiệm làm việc với Python và các web framework như Django, hoặc Flask, Pyramid, Zope từ 1-2 năm. </li>
      <li>Thao tác tốt với HTML, CSS, JavaScript (Jquery, AngularJS, Ajax, ...), Bootstrap, JSON, XML, ... </li>
      <li>Có kinh nghiệm làm việc với PostgreSQL, MongoDB, Celery, eventlet, Solr, Redis </li>
      <li>Có hiểu biết về OOP, MVC Framework, RESTful, Design Patterns </li>
      <li>Thành thạo các công cụ quản lý mã nguồn: GIT, SVN, ... </li>
      <li>Code tuân theo các chuẩn PEP-8, thường xuyên sử dụng Pylint và Pyflakes </li>
      <li>Có kinh nghiệm làm việc trong các dự án theo mô hình Agile </li>
      <li>Có khả năng làm việc teamwork cũng như làm việc độc lập </li>
      <li>Có thể làm việc dưới áp lực cao về deadline cũng như chất lượng sản phẩm </li>
      <li>Khả năng tuy duy tốt, chủ động trong công việc, có tinh thần trách nhiệm cao để hoàn thành công việc được giao </li>
      <li>Có khả năng đọc hiểu tài liệu tiếng Anh tốt </li>
      <li>Biết tiếng Nhật là một lợi thế</li>
    </ul>
    <h5>Chế độ đãi ngộ</h5>
    <ul>
      <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo chế độ nhà nước ban hành </li>
      <li>Xét tăng lương theo năng lực và kết quả công việc: 1 lần/năm. </li>
      <li>Điều chỉnh lương theo trượt giá thị trường: 1 lần/năm. </li>
      <li>Lương tháng 13 </li>
      <li>Được hưởng trợ cấp ăn trưa 840.000VND/1 tháng. </li>
      <li>Trợ cấp đi lại tối thiểu 210.000VND/1 tháng, tối đa 630.000 VND/1 tháng (tùy thuộc vào khoảng cách từ nhà đến Công ty) </li>
      <li>Trợ cấp Beauty Care 300.000VND/Tháng với nhân viên nữ ký hợp đồng chính thức </li>
      <li>Trợ cấp thai sản (Hưởng thêm 3 tháng lương của nhân viên ngoài lương do Bảo hiểm và nhà nước chi trả) </li>
      <li>Trợ cấp tiếng Nhật, tiếng Anh, và các chứng chỉ IT liên quan (hình thức: khen thưởng, tăng lương...) </li> 
      <li>Hỗ trợ phí tham gia Hội thảo ngoài Công ty 100.000 VND/ ngày </li>
      <li>Được tham gia các Câu lạc bộ dưới sự tài trợ chính thức của Công ty: CLB Bóng đá, các CLB Game, CLB dạy và học tiếng Nhật, tham gia các bữa tiệc, hoạt động ngoại khóa của công ty ... </li>
      <li>Du lịch hàng năm </li>
      <li>Khám sức khỏe định kỳ hàng năm </li>
    </ul>
    <h5>Lương & hợp đồng làm việc:</h5>
    <ul>
    <li>Thử việc 2 tháng, lương thỏa thuận</li>
      <li>Thời gian làm việc: Từ thứ 2 đến thứ 6</li>
      <li>Thời gian học tập/nghiên cứu: 16h/tháng</li>
    <li>Mức lương: $600 – $1500</li>
    </ul>
    <h5>Chi tiết khác:</h5>
    <ul>
      <li>Yêu cầu CV tiếng Anh, ghi rõ về kinh nghiệm làm việc và quá trình học tập của bản thân</li>
      <li>Yêu cầu ghi rõ vị trí tuyển dụng: Python Developer</li>
      <li>Ưu tiên biết tiếng Nhật.</li>
    </ul>
    <div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path("entry[m_job_id]" => 6) %>">Apply Now</a></div>
  </div>
</div>
