<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3>Automation Tester</h3>
    <div class="fb-share-button" data-href="http://recruit.framgia.vn/recruits?job=qa" data-layout="button_count"></div>
    <p>Bạn giỏi tiếng ngoại ngữ, yêu thích công nghệ thông tin và mog muốn được làm việc trong một môi trường chuyên nghiệp? Bạn muốn tham gia tạo nên những sản phẩm phần mềm hàng đầu thế giới? Hãy tới làm việc tại Framgia - nơi hội tụ những kỹ sư ưu tú nhất. Tại Framgia, bạn không chỉ tham gia phát triển ứng dụng cho khách hàng là các đối tác hàng đầu Nhật Bản mà còn tập trung phát triển dịch vụ của công ty. Trở thành nhân viên của Framgia, bạn sẽ có cơ hội làm việc trong một môi trường chuyên nghiệp, công bằng, nhiều cơ hội phát triển bản thân và thăng tiến, có cơ hội học hỏi công nghệ, tư duy sáng tạo cùng khách hàng tìm ra giải pháp trong công việc. Ngoài ra, bạn còn có nhiều cơ hội được đi công tác tại Nhật Bản.</p>
    <p><img src="<%= image_path 'team-QA.png' %>" alt="team Quality Assurance" width="800" height="340"></p>
    <h5>Mô tả công việc</h5>
    <ul>
      <li>Đọc hiểu specs</li>
      <li>Thực hiện test bằng tool tự động</li>
      <li>Thực hiện code tái sử dụng lại các logics</li>
      <li>Lập kế hoạch và quản lý công việc</li>
      <li>Viết báo cáo công việc hàng ngày, báo cáo lỗi</li>
      <li>Thực hiện các công việc khác theo sự phân công của cấp trên</li>
    </ul>
    <h5>Yêu cầu công việc</h5>
    <ul>
      <li>Tốt nghiệp cao đẳng trở lên</li>
      <li>Có trên 5 năm kinh nghiệm test sử dụng tool tự động</li>
      <li>Có thể thực hiện code tái sử dụng lại các logics để mở rộng các phiên bản test trong tương lai</li>
      <li>Kĩ năng đọc viết tiếng Anh tốt (có tiếng Nhật là lợi thế)</li>
      <li>Ham học hỏi, sáng tạo,năng động, hòa đồng</li>
      <li>Tự tin khi làm việc độc lập, có khả năng làm việc theo nhóm.</li>
      <li>Test Tool:
        Hiện có sẵn 1 phần tool test tự động CasperJS, có thể tái sử dụng lại cái này.</li>
    </ul>
    <h5>Chế độ đãi ngộ</h5>
    <ul>
      <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo chế độ nhà nước ban hành.</li>
      <li>Xét tăng lương theo năng lực và kết quả công việc: 1 lần/năm.</li>
      <li>Điều chỉnh lương theo trượt giá thị trường: 1 lần/năm.</li>
      <li>Lương tháng 13</li>
      <li>Được hưởng trợ cấp ăn trưa từ 840,000VND/1 tháng (40.000VND/1 ngày làm việc thực tế).</li>
      <li>Trợ cấp Beauty Care 300.000VND/Tháng với nhân viên nữ ký hợp đồng chính thức.</li>
      <li>Trợ cấp đi lại từ 210.000 VND~ 630.000VND/1 tháng (Phụ thuộc vào khoảng cách từ nhà đến Công ty, mức tối thiểu là 10.000VND/1 ngày làm việc thực tế)</li>
      <li>Trợ cấp thai sản (Hưởng thêm 3 tháng lương của nhân viên ngoài lương do Bảo hiểm và nhà nước chi trả)</li>
      <li>Trợ cấp tiếng Nhật, tiếng Anh, và các chứng chỉ IT liên quan (hình thức: khen thưởng, tăng lương...)</li>
      <li>Hỗ trợ phí tham gia Hội thảo ngoài Công ty 100.000 VND/ ngày</li>
      <li>Được tham gia các Câu lạc bộ dưới sự tài trợ chính thức của Công ty: CLB Bóng đá, các CLB Game, CLB dạy và học tiếng Nhật, tham gia các bữa tiệc, hoạt động ngoại khóa của công ty ...</li>
      <li>Du lịch hàng năm.</li>
      <li>Khám sức khỏe định kỳ 1 năm/1 lần tại bệnh viên uy tín.</li>
    </ul>
    <h5>Lương & hợp đồng làm việc:</h5>
    <ul>
      <li>Mức lương: US $600 – US $900</li>
      <li>Thử việc 2 tháng, lương thỏa thuận</li>
      <li>Thời gian làm việc: Từ thứ 2 đến thứ 6</li>
      <li>Thời gian học tập/nghiên cứu: 16h/tháng</li>
    </ul>

    <h5>Chi tiết khác:</h5>
    <ul>
    <li>Yêu cầu ghi rõ vị trí tuyển dụng: QA Tester</li>
    <li>Yêu cầu CV tiếng Nhật, ghi rõ về kinh nghiệm làm việc và quá trình học tập của bản thân</li>
    </ul>
    <div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path("entry[m_job_id]" => 10) %>">Apply Now</a></div>
  </div>
</div>
