<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3>Ruby on Rails Developer</h3>
    <p>Chúng tôi cần tuyển những lập trình viên Ruby on Rails nhiệt tình và chuyên nghiệp trong công việc không chỉ tham gia phát triển ứng dụng cho khách hàng là các đối tác hàng đầu Nhật Bản mà còn tập trung phát triển dịch vụ của công ty. Trở thành nhân viên của Framgia, bạn sẽ có cơ hội làm việc trong một môi trường chuyên nghiệp, công bằng, nhiều cơ hội phát triển bản thân và thăng tiến trong công việc, có cơ hội học hỏi công nghệ, tư duy sáng tạo cùng khách hàng tìm ra giải pháp trong công việc. Có nhiều cơ hội cộng tác với đối tác nước ngoài và cơ hội làm việc tại Nhật Bản.</p>
    <p><img src="<%= image_path 'team-ROR.png' %>" alt="team Ruby and Rails" width="800" height="340"></p>
    <h5>Mô tả công việc</h5>
    <ul>
      <li>Xây dựng các ứng dụng web, webservice</li>
      <li>Tham gia vào thiết kế và review source code</li>
      <li>Báo cáo tiến độ và tình trạng công việc trực tiếp tới quản lý dự án</li>
      <li>Tiếp cận và được đào tạo theo mô hình phát triển dự án Agile, Scrum</li>
    </ul>
    <h5>Yêu cầu công việc</h5>
    <ul>
      <li>Tốt nghiệp đại học, cao đẳng chuyên ngành IT</li>
      <li>Có kinh nghiệm làm việc với Framework Ruby on Rails hoặc các framework khác sử dụng ngôn ngữ Ruby</li>
      <li>Thao tác tốt với HTML, CSS, JavaScript (Jquery, Ajax, ...), Bootstrap, JSON, XML, ...</li>
      <li>Nắm vững về MVC, OOP. Chú trọng performance & refactoring khi viết code</li>
      <li>Có hiểu biết về Design Pattern, ORM, RESTful, TDD, ...</li>
      <li>Có kinh nghiệm làm việc với MySQL hoặc NoSQL (MongoDB, ...)</li>
      <li>Có hiểu biết về Redis, search engine là một lợi thế</li>
      <li>Thành thạo các công cụ quản lý mã nguồn: GIT, SVN.</li>
      <li>Thao tác tốt với các công cụ như NginX, Unicorn, ...</li>
      <li>Có thể làm việc trên môi trường Linux/Ubuntu</li>
      <li>Có khả năng làm việc tốt trong môi trường Teamwork cũng như làm việc độc lập.</li>
      <li>Sử dụng thành thạo tiếng Anh đọc và viết.</li>
      <li>Có thể đảm bảo deadline cũng như chất lượng sản phẩm.</li>
      <li>Khả năng tư duy tốt, chủ động trong công việc, có tinh thần trách nhiệm cao để hoàn thành công việc được giao</li>
    </ul>
    <h5>Chế độ đãi ngộ</h5>
    <ul>
      <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo chế độ nhà nước ban hành.</li>
      <li>Xét tăng lương theo năng lực và kết quả công việc: 1 lần/năm.</li>
      <li>Điều chỉnh lương theo trượt giá thị trường: 1 lần/năm.</li>
      <li>Lương tháng 13</li>
      <li>Được hưởng trợ cấp ăn trưa từ 840,000VND/1 tháng (40.000VND/1 ngày làm việc thực tế).</li>
      <li>Trợ cấp Beauty Care 300.000VND/Tháng với nhân viên nữ ký hợp đồng chính thức.</li>
      <li>Trợ cấp đi lại từ 210.000 VND~ 630.000VND/1 tháng (Phụ thuộc vào khoảng cách từ nhà đến Công ty, mức tối thiểu là 10.000VND/1 ngày làm việc thực tế)</li>
      <li>Trợ cấp thai sản (Hưởng thêm 3 tháng lương của nhân viên ngoài lương do Bảo hiểm và nhà nước chi trả)</li>
      <li>Trợ cấp tiếng Nhật, tiếng Anh, và các chứng chỉ IT liên quan (hình thức: khen thưởng, tăng lương...)</li>
      <li>Hỗ trợ phí tham gia Hội thảo ngoài Công ty 100.000 VND/ ngày</li>
      <li>Được tham gia các Câu lạc bộ dưới sự tài trợ chính thức của Công ty: CLB Bóng đá, các CLB Game, CLB dạy và học tiếng Nhật, tham gia các bữa tiệc, hoạt động ngoại khóa của công ty ...</li>
      <li>Du lịch hàng năm.</li>
      <li>Khám sức khỏe định kỳ 1 năm/1 lần tại bệnh viên uy tín.</li>
    </ul>
    <h5>Lương & hợp đồng làm việc:</h5>
    <ul>
      <li>Mức lương:  $600 – $1500</li>
    <li>Thử việc 2 tháng, lương thỏa thuận</li>
      <li>Thời gian làm việc: Từ thứ 2 đến thứ 6</li>
      <li>Thời gian học tập/nghiên cứu: 16h/tháng</li>
    </ul>
    <h5>Chi tiết khác:</h5>
    <ul>
      <li>Yêu cầu CV tiếng Anh, ghi rõ về kinh nghiệm làm việc và quá trình học tập của bản thân</li>
      <li>Yêu cầu ghi rõ vị trí tuyển dụng: Ruby Developer</li>
      <li>Ưu tiên biết tiếng Nhật.</li>
    </ul>
    <div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path("entry[m_job_id]" => 1) %>">Apply Now</a></div>
  </div>
</div>
