<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3>R&D Engineer/Researcher ($1200-$2000)</h3>
    <h5>The Job</h5>
    <p>Framgia Viet Nam is an offshore development company. We are not only programming
team but we do also architecture, design and operation. Our clients are 100% Japanese companies. Now we are extending our corebiz with R&D (Artificial Intelligence) researching and seeking for excellent engineer, researcher.</p>
    <h5>RESPONSIBILITY:</h5>
    <ul>
      <li>Analyze and understand the positioning of the product, service or process.</li>
      <li>Translate functional needs into specifications, design and develop the product, service or process.</li>
      <li>Set up the test and validation phases, correct and improve the product, service or process.</li>
      <li>Support the production start-up and product launch.</li>
      <li>Gather business intelligence (patent, technology and competitive intelligence) to identify new scientific trends and conduct strategic planning.</li>
      <li>Participate in benchmarking and test competitive products to gain relevant information that can be applied to product specifications.</li>
      <li>Gather any legal documents, including laws, regulations and patents, that are necessary for determining the project’s feasibility.</li>
    </ul>
    <h5>Your Skills and Experience</h5>
    <h6>EDUCATION</h6>
    <ul>
      <li>BS or higher degree in Computer Science/Mechatronics/Math/Software or equivalent</li>
      <li>At least 5years’ experience in a software development/research team environment.</li>
    </ul>
    <h6>TECHNICAL SKILLS AND EXPERIENCES</h6>
    <ul>
      <li>Solid programming skills, hands-on experience in programming/scripting languages such as Python, C, C++, Swift, Objective C, Java and Matlab. </li>
      <li>Mobile application development (iOS, Android) experience is desired.</li>
      <li>Skill in creating solutions to information system integration and inter-operability. </li>
      <li>Prior experience working in the cyber security domain is preferred. </li>
      <li>Experience with Image Processing, Data mining, Robotics or Artificial Intelligence. </li>
      <li>Knowledge of database systems, architecture and development. </li>
      <li>Practical knowledge of web services, internet technologies, and internet protocols. </li>
      <li>Strong development experience in both Linux and Windows environments. </li>
      <li>Experience with firmware, camera, gyroscope, sensors or driver is a plus. </li>
      <li>Excellent oral and written communication skills and a team player.</li>
    </ul>
    <h5>SALARY & CONTRACT:</h5>
    <ul>
      <li>Salary: $1200 <li>$2000 (negotiable) </li>
      <li>Probationary time: maximun 2 months </li>
      <li>Working day: Monday <li>Friday, 16h self <li>study/month</li>
    </ul>
    <h5>BENEFITS:</h5>
    <ul>
      <li>Entitled to receive the social insurance, medical insurance, unemployment insurance by Vietnamese Insurance Law </li>
      <li>Salary review: twice/ year. </li>
      <li>13th month salary </li>
      <li>Lunch allowance 840,000VND / 1 month (40.000VND / working day).</li>
      <li>Beauty Care Allowance VND300,000 / month for female official employees </li>
      <li>Transportation allowance from 210,000 VND ~ 630.000VND / 1 month (depending on the distance from home to the company, a minimum of VND 10,000 / working day) </li>
      <li>Maternity allowance (additional 3 months of full salary besides the amount paid by insurance) </li>
      <li>Subsidize for Japanese, English, and IT related certificates </li>
      <li>Subsidize for attending outside seminar:s 100,000 VND / day </li>
      <li>Be sponsored to join internal clubs: Football Club, Game club,Japanese club, join the party, extracurricular activities of the company ... </li>
      <li>Annual Travel. </li>
      <li>Periodic health examination once per year at the prestigious hospital.</li>
    </ul>
    <!--<div class="modal-footer"><a class="btn btn-alt btn-primary" style="background-color:#999">Hiện tại không: tuyển dụng.</a></div> -->
    <div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path("entry[m_job_id]" => 26) %>">Apply Now</a></div>

  </div>
</div>

