<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3>SECRETARY</h3>
    <h5>Mô tả công việc:</h5>
    <ul>
      <li>Sắp xếp lịch làm việc, lịch họp, lịch công tác, tổ chức các cuộc họp, ghi chép và tổng hợp nội dung các cuộc họp cho các Trưởng phòng
      <li>Chuẩn bị tài liệu, thu thập thông tin cần thiết theo yêu cầu của các Trưởng Phòng.</li>
      <li>Tiếp nhận, phân loại, sắp xếp, xử lý thông tin, văn bản, tài liệu từ các nhóm và tổng hợp gửi lên các Trưởng phòng</li>
      <li>Lưu giữ thông tin tài liệu liên quan.</li>
    </ul>
    <h5>Yêu cầu công việc:</h5>
    <ul>
      <li> Nữ (độ tuổi từ 22-25)</li>
      <li>Tốt nghiệp đại học.</li>
      <li>Có ngoại hình khá</li>
      <li>Có ít nhất 02 năm kinh nghiệm ở vị trí tương đương.</li>
      <li>Sử dụng thành thạo tiếng Anh, biết tiếng Nhật là 1 lợi thế.</li>
      <li>Thành thạo các ứng dụng văn phòng.</li>
      <li>Năng động, trung thực, chịu khó học hỏi, sáng tạo trong công việc, biết tổ chức công việc hợp lý.</li>
      <li>Có khả năng chịu được áp lực cao trong công việc.</li>
      <li>Kỹ năng giao tiếp tốt, ứng xử tốt.</li>
    </ul>
    <h5>Chế độ đãi ngộ</h5>
    <ul>
      <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo chế độ nhà nước ban hành.</li>
      <li>Xét tăng lương theo năng lực và kết quả công việc: 1 lần/năm.</li>
      <li>Điều chỉnh lương theo trượt giá thị trường: 1 lần/năm.</li>
      <li>Lương tháng 13</li>
      <li>Được hưởng trợ cấp ăn trưa từ 840,000VND/1 tháng (40.000VND/1 ngày làm việc thực tế).</li>
      <li>Trợ cấp Beauty Care 300.000VND/Tháng với nhân viên nữ ký hợp đồng chính thức.</li>
      <li>Trợ cấp đi lại từ 210.000 VND~ 630.000VND/1 tháng (Phụ thuộc vào khoảng cách từ nhà đến Công ty, mức tối thiểu là 10.000VND/1 ngày làm việc thực tế)</li>
      <li>Trợ cấp thai sản (Hưởng thêm 3 tháng lương của nhân viên ngoài lương do Bảo hiểm và nhà nước chi trả)</li>
      <li>Trợ cấp tiếng Nhật, tiếng Anh, và các chứng chỉ IT liên quan (hình thức: khen thưởng, tăng lương...)</li>
      <li>Hỗ trợ phí tham gia Hội thảo ngoài Công ty 100.000 VND/ ngày</li>
      <li>Được tham gia các Câu lạc bộ dưới sự tài trợ chính thức của Công ty: CLB Bóng đá, các CLB Game, CLB dạy và học tiếng Nhật, tham gia các bữa tiệc, hoạt động ngoại khóa của công ty ...</li>
      <li>Du lịch hàng năm.</li>
      <li>Khám sức khỏe định kỳ 1 năm/1 lần tại bệnh viên uy tín.</li>
    </ul>
    <h5>Lương & hợp đồng làm việc:</h5>
    <ul>
      <li>Lương: $450 - $700</li>
      <li>Thử việc: 2 tháng</li>
      <li>Thời gian làm việc: Từ thứ 2 đến thứ 6</li>
    </ul>
    <!--<div class="modal-footer"><a class="btn btn-alt btn-primary" style="background-color:#999">Hiện tại không tuyển dụng.</a></div> -->
    <div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path("entry[m_job_id]" => 25) %>">Apply Now</a></div>

  </div>
</div>

