<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3>Senior iOS Developer (Swift)</h3>
    <p>Chúng tôi cần tuyển những iOS Developer nhiệt tình và chuyên nghiệp trong công việc sẽ tham gia phát triển các ứng dụng mới của công ty. Trở thành nhân viên của Framgia, bạn sẽ có cơ hội làm việc trong một môi trường chuyên nghiệp, công bằng, nhiều cơ hội phát triển bản thân và thăng tiến trong công việc, có cơ hội học hỏi công nghệ, tư duy sáng tạo cùng khách hàng tìm ra giải pháp trong công việc. Có nhiều cơ hội cộng tác với đối tác nước ngoài và cơ hội làm việc tại Nhật Bản. </p>
    <h5>Công việc chính</h5>
    <ul>
      <li>Tham gia vào các dự án phần mềm với các đối tác hàng đầu Nhật Bản </li>
      <li>Phát triển các ứng dụng trên iOS, tìm hiểu các công nghệ mới </li>
      <li>Tham gia vào thiết kế và review source code </li>
      <li>Tiếp cận và được đào tạo theo mô hình phát triển dự án Agile, Scrum</li>
      <li>Báo cáo tiến độ và tình trạnh công việc trực tiếp tới quản lý dự án</li>
    </ul>
    <h5>Chuyên môn của bạn</h5>
    <ul>
      <li>Sử dụng thành thạo, hiểu sâu về Swift </li>
      <li>Có kinh nghiệm làm việc với Objective-C là một lợi thế </li>
      <li>Có tư duy logic tốt, hiểu biết về multithreading, data structrures, algorithm, design pattern. Hiểu biết sâu về OOP, OOD, memory management. </li>
      <li>Thao tác tốt với SQLite, giao tiếp client-server thông qua REST </li>
      <li>Thành thạo core data </li>
      <li>Có kinh nghiệm làm việc trong các dự án theo mô hình Agile </li>
      <li>Yêu cầu có kinh nghiêm ở vị trí leader </li>
      <li>Có thể làm việc dưới áp lực cao về deadline cũng như chất lượng sản phẩm </li>
      <li>Chủ động trong công việc, có tinh thần trách nhiệm cao để hoàn thành công việc được giao </li>
      <li>Sử dụng thành thạo tiếng Anh đọc và viết </li>
      <li>Biết tiếng Nhật là một lợi thế lớn</li>
    </ul>

    <h5>Chế độ đãi ngộ</h5>
    <ul>
      <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo luật Bảo hiểm</li>
      <li>Xét tăng lương theo năng lực và kết quả công việc: 1 lần/năm.</li>
      <li>Điều chỉnh lương theo trượt giá thị trường: 1 lần/năm.</li>
      <li>Lương tháng 13</li>
      <li>Được hưởng trợ cấp ăn trưa 840.000VND/1 tháng.</li>
      <li>Trợ cấp đi lại tối thiểu 210.000VND/1 tháng, tối đa 630.000 VND/1 tháng (tùy thuộc vào khoảng cách từ nhà đến Công ty)</li>
      <li>Trợ cấp Beauty Care 300.000VND/Tháng với nhân viên nữ ký hợp đồng chính thức</li>
      <li>Trợ cấp thai sản (Hưởng thêm 3 tháng lương của nhân viên ngoài lương do Bảo hiểm và nhà nước chi trả)</li>
      <li>Trợ cấp tiếng Nhật, tiếng Anh, và các chứng chỉ IT liên quan (hình thức: khen thưởng, tăng lương...)</li>
      <li>Hỗ trợ phí tham gia Hội thảo ngoài Công ty 100.000 VND/ ngày</li>
      <li>Được tham gia các Câu lạc bộ dưới sự tài trợ chính thức của Công ty: CLB Bóng đá, các CLB Game, CLB dạy và học </li>tiếng Nhật, tham gia các bữa tiệc, hoạt động ngoại khóa của công ty ...</li>
      <li>Du lịch hàng năm</li>
      <li>Khám sức khỏe 1 năm/1 lần</li>
    </ul>
    <h5>Lương & hợp đồng làm việc:</h5>
    <ul>
      <li>Mức lương: US $900 –  $1500</li>
      <li>Thử việc 2 tháng, lương thỏa thuận</li>
      <li>Thời gian làm việc: Từ thứ 2 đến thứ 6</li>
      <li>Thời gian học tập/nghiên cứu: 16h/tháng</li>
    </ul>
    <div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path("entry[m_job_id]" => 23) %>">Apply Now</a></div>
  </div>
</div>

