<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3>Japanese Teacher</h3>
    <h5>Mô tả công việc</h5>
    <ul>
      <li>Giảng dạy tiếng Nhật từ sơ cấp đến N2</li>
      <li>Phụ trách các lớp học theo phân công của cấp trên</li>
      <li>Xây dựng, phát triển bài giảng, các loại tài liệu giảng dạy, tài liệu học tập</li>
      <li>Tìm hiểu, nghiên cứu và thử nghiệm các phương pháp giảng dạy mới</li>
      <li>Tham gia vào các công việc liên quan đến giảng dạy tiếng Nhật khác tại công ty</li>
    </ul>
    <h5>Yêu cầu công việc</h5>
    <ul>
      <li>Tâm huyết và yêu thích công việc giảng dạy, năng động, nhiệt tình, trách nhiệm</li>
      <li>Trình độ tiếng Nhật N2 trở lên, có kinh nghiệm giảng dạy tiếng Nhật</li>
      <li>Tốt nghiệp các trường Đại học chuyên ngành tiếng Nhật hoặc đã từng du học tại Nhật Bản</li>
    </ul>
    <h5>Chế độ đãi ngộ</h5>
    <ul>
      <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo chế độ nhà nước ban hành.</li>
      <li>Xét tăng lương theo năng lực và kết quả công việc: 1 lần/năm.</li>
      <li>Điều chỉnh lương theo trượt giá thị trường: 1 lần/năm.</li>
      <li>Lương tháng 13</li>
      <li>Được hưởng trợ cấp ăn trưa từ 840,000VND/1 tháng (40.000VND/1 ngày làm việc thực tế).</li>
      <li>Trợ cấp Beauty Care 300.000VND/Tháng với nhân viên nữ ký hợp đồng chính thức.</li>
      <li>Trợ cấp đi lại từ 210.000 VND~ 630.000VND/1 tháng (Phụ thuộc vào khoảng cách từ nhà đến Công ty, mức tối thiểu là 10.000VND/1 ngày làm việc thực tế)</li>
      <li>Trợ cấp thai sản (Hưởng thêm 3 tháng lương của nhân viên ngoài lương do Bảo hiểm và nhà nước chi trả)</li>
      <li>Trợ cấp tiếng Nhật, tiếng Anh, và các chứng chỉ IT liên quan (hình thức: khen thưởng, tăng lương...)</li>
      <li>Hỗ trợ phí tham gia Hội thảo ngoài Công ty 100.000 VND/ ngày</li>
      <li>Được tham gia các Câu lạc bộ dưới sự tài trợ chính thức của Công ty: CLB Bóng đá, các CLB Game, CLB dạy và học tiếng Nhật, tham gia các bữa tiệc, hoạt động ngoại khóa của công ty ...</li>
      <li>Du lịch hàng năm.</li>
      <li>Khám sức khỏe định kỳ 1 năm/1 lần tại bệnh viên uy tín.</li>
    </ul>
    <h5>Lương & hợp đồng làm việc:</h5>
    <ul>
      <li>Mức lương:  10.000.000VND trở lên (Tùy theo năng lực)</li>
      <li>Lương cơ bản: 5.000.000 VND (Ứng với số giờ dạy tối thiểu)</li>
      <li>Lương giảng dạy: Theo số giờ thực dạy vượt quá số giờ dậy tối thiểu (120.000/ tiết học - 45 phút)</li>
      <li>Thời gian làm việc: Từ thứ 2 đến thứ 6</li>
      <li>Thời gian học tập/nghiên cứu: 16h/tháng</li>
    </ul>
    <h5>Địa điểm và thời gian làm việc:</h5>
    <ul>
      <li>Địa điểm: Trường Đại học Bách Khoa (Chủ yếu), Công ty TNHH Framgia Việt Nam (khi cần)</li>
      <li>Thời gian: Lên lớp khi có giờ học (6h45~17h20), trao đổi thêm khi phỏng vấn.</li>
    </ul>
    <h5>Số lượng cần tuyển:</h5>
    <ul>
      <li>2 người.</li>
      <li>※Tuyển Full-time, nếu ứng viên có nguyện vọng Part-time thì hình thức tuyển như sau:</li>
      <li>Parttime: 5.000.000 VND ~ 10.000.000 VND (phụ thuộc vào số tiết dạy trong tháng)<br>
          (Không bao gồm các chế độ đãi ngộ dành cho nhân viên chính thức.)</li>
      <li>Trợ cấp đi họp, báo cáo tình hình giảng dạy (dành cho parttime): 60.000 VND/ giờ</li>
    </ul>
    <h5>Hồ Sơ:</h5>
    <ul>
      <li>Đơn xin việc (Tiếng Nhật)</li>
      <li>Yêu cầu ghi rõ vị trí tuyển dụng: Japanese Teacher</li>
      <li>Bằng cấp, chứng chỉ liên quan</li>
    </ul>
    <h5>Thông tin khác:</h5>
    <ul>
      <li>Bằng cấp: Đại học</li>
      <li>Độ tuổi: 22 - 40</li>
      <li>Hình thức: Nhân viên chính thức, Bán thời gian</li>
      <li>Thời gian thử việc: Tối đa 2 tháng</li>
      <li>Thời gian làm việc: Từ thứ 2 đến thứ 6</li>
      <li>Ngày nghỉ: Thứ 7, CN, ngày lễ theo luật Việt Nam và các ngày lễ riêng của công ty</li>
    </ul>
    <div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path("entry[m_job_id]" => 19) %>">Apply Now</a></div>
  </div>
</div>
