<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3>UI/UX Designer</h3>
    <p>Chúng tôi cần tuyển những UI/UX Designer nhiệt tình và chuyên nghiệp trong công việc sẽ tham gia phát triển ứng dụng, web là các service mới của công ty. Trở thành nhân viên của Framgia, bạn sẽ có cơ hội làm việc trong một môi trường chuyên nghiệp, công bằng, nhiều cơ hội phát triển bản thân và thăng tiến trong công việc, có cơ hội học hỏi công nghệ, tư duy sáng tạo cùng khách hàng tìm ra giải pháp trong công việc. Có nhiều cơ hội cộng tác với đối tác nước ngoài và cơ hội làm việc tại Nhật Bản.</p>
    <h5>Chuyên môn của bạn</h5>
    <ul>
      <li>Có trên 3 năm kinh nghiệm thiết kế WEB và ứng dụng hoặc năng lực tương đương</li>
      <li>※Gửi kèm portfolio (những sản phẩm đã làm)</li>
      <li>Có kinh nghiệm làm việc nhóm, phối hợp cùng với các Lập trình viên để xây dựng service </li>
      <li>Kinh nghiệm thiết kế bằng Photoshop/Illustrator</li>
      <li>Kinh nghiệm cải thiện UI/UX dựa trên các con số từ tool phân tích log ví dụ như Google Analytics v.v...</li>
      <li>Người hiểu được tầm quan trọng của các con số trên phân tích log v.v...và tính khả dụng của chúng để có thể linh hoạt thay đổi thiết kế. </li>
      <li>Có khả năng báo cáo, thông tin, liên lạc tốt</li>
    </ul>
    <h5>Yêu cầu khác</h5>
    <ul>
      <li>Ham học hỏi, hứng thú tìm hiểu các kỹ thuật mới </li>
      <li>Chăm chỉ, chịu khó và tỉ mẩn</li>
      <li>Muốn thử sức xây dựng service từ con số 0</li>
      <li>Thích giao du nói chuyện với mọi người</li>
      <li>Sử dụng tốt tiếng Anh, biết tiếng Nhật là 1 lợi thế</li>
    </ul>
    <h5>Chế độ đãi ngộ</h5>
    <ul>
      <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo luật Bảo hiểm</li>
      <li>Xét tăng lương theo năng lực và kết quả công việc: 1 lần/năm.</li>
      <li>Điều chỉnh lương theo trượt giá thị trường: 1 lần/năm.</li>
      <li>Lương tháng 13</li>
      <li>Được hưởng trợ cấp ăn trưa 840.000VND/1 tháng.</li>
      <li>Trợ cấp đi lại tối thiểu 210.000VND/1 tháng, tối đa 630.000 VND/1 tháng (tùy thuộc vào khoảng cách từ nhà đến Công ty)</li>
      <li>Trợ cấp Beauty Care 300.000VND/Tháng với nhân viên nữ ký hợp đồng chính thức</li>
      <li>Trợ cấp thai sản (Hưởng thêm 3 tháng lương của nhân viên ngoài lương do Bảo hiểm và nhà nước chi trả)</li>
      <li>Trợ cấp tiếng Nhật, tiếng Anh, và các chứng chỉ IT liên quan (hình thức: khen thưởng, tăng lương...)</li>
      <li>Hỗ trợ phí tham gia Hội thảo ngoài Công ty 100.000 VND/ ngày</li>
      <li>Được tham gia các Câu lạc bộ dưới sự tài trợ chính thức của Công ty: CLB Bóng đá, các CLB Game, CLB dạy và học </li>tiếng Nhật, tham gia các bữa tiệc, hoạt động ngoại khóa của công ty ...</li>
      <li>Du lịch hàng năm</li>
      <li>Khám sức khỏe 1 năm/1 lần</li>
    </ul>
    <h5>Lương & hợp đồng làm việc:</h5>
    <ul>
      <li>Mức lương: US $700 –  $1500</li>
      <li>Thử việc 2 tháng, lương thỏa thuận</li>
      <li>Thời gian làm việc: Từ thứ 2 đến thứ 6</li>
      <li>Thời gian học tập/nghiên cứu: 16h/tháng</li>
    </ul>
    <h5>Chi tiết khác:</h5>
    <ul>
      <li>Yêu cầu ghi rõ vị trí tuyển dụng: UI/UX Engineer cum Designer</li>
      <li>Trong CV yêu cầu ghi rõ về kinh nghiệm làm việc và quá trình học tập của bản thân bằng tiếng Anh</li>
      <li>Nộp kèm source code của sản phẩm mình đã phát triển khi gửi CV, chuẩn bị sản phẩm để demo (nếu có) khi phỏng vấn.</li>
      <li>Ưu tiên ứng viên biết tiếng Nhật.</li>
    </ul>
    <div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path("entry[m_job_id]" => 7) %>">Apply Now</a></div>

  </div>
</div>

